<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type='text/javascript' src='https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.js'></script>
    <link type="text/css" href="https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <script type='text/javascript' src='https://apps-static.flock.co/js-sdk/0.1.0/flock.js'></script>
</head>
<style>
	img{
		vertical-align: text-top;
	}
	.chosen{
		background-color:green;
	}
	[id^='content'] {
    width: 600px;
   	display:table;
   	margin:0 auto;
    padding: 20px;
    overflow: hidden;
}

[id^='content'] img {
    margin-right: 15px;
    float: left;
}
.suggest {
	text-transform: capitalize;
}
</style>
<script>
var obj,constraint;
var suggestions;
	 function getLocation() {
	 	console.log('in getLocation');
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setPosition);
    } else { 
       alert("Geolocation is not supported by this browser.");
    }
}

function setPosition(position)
{
	console.log('in setPosition');
  latlng='lat='+position.coords.latitude + "&lon="+position.coords.longitude;
alert(latlng);
  restaurantsNearMe(latlng); 
}

function restaurantsNearMe()
{
	var lat=12.975296;
	var lng=80.2198833;
	var url="https://developers.zomato.com/api/v2.1/search?lat="+lat+"&lon="+lng+"&establishment_type=Fine%20Dining&sort=rating";
	var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    obj=JSON.parse(this.responseText);
    console.log(obj);
    displayRestaurants();   
     }
  };
  xhttp.open("GET",url, true);
  xhttp.setRequestHeader("user-key","d31358aa4ab1239f3f0864a5858297c5");
  xhttp.send();
}
function displayRestaurants()
{
	console.log(obj);
	document.getElementById('restaurants').innerHTML="";
  for(var i=0;i<obj.restaurants.length;i++)
  {
  	if(obj.restaurants[i].restaurant.featured_image=="")
  		continue;
    document.getElementById("restaurants").innerHTML += '<div id="content'+i+'"><img src="'+obj.restaurants[i].restaurant.featured_image+'" height="200px" width="200px"><a target="_blank" href="'+obj.restaurants[i].restaurant.url+'">'+obj.restaurants[i].restaurant.name+'</a><br><p>Average Cost for two: '+obj.restaurants[i].restaurant.average_cost_for_two+'<br>Location:'+obj.restaurants[i].restaurant.location.address+'</p></div>';
     document.getElementById("restaurants").innerHTML += "<hr style='clear:both'>"  
  }
  $('[id^="content"]').click(function(){
  	$(this).css('background-color:green');
  	postSuggestion(event.target.id);
  });
}
$(document).ready(function(){
	restaurantsNearMe();
	$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
	
	$('.dropdown-toggle').click(function(){
		$('.dropdown-menu').toggle();
	});
	$('.search-panel .dropdown-menu').find('a').click(function(e) {
		e.preventDefault();
		var param = $(this).attr("href").replace("#","");
		constraint = $(this).text();
		$('.search-panel span#search_concept').text(constraint);
		getSuggestions();
		$('.dropdown-menu').hide();
	});
});
function getSuggestions()
{
	if(constraint==='Category')
		url='https://developers.zomato.com/api/v2.1/categories';
	else if(constraint==='Cuisine')
		url='https://developers.zomato.com/api/v2.1/cuisines?lat=12.975296&lon=80.2198833'
	var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
  		suggestions=JSON.parse(this.responseText);
  		console.log(suggestions);
  		
     
    }
  };
  xhttp.open("GET",url, true);
  xhttp.setRequestHeader("user-key","d31358aa4ab1239f3f0864a5858297c5");
  xhttp.send();
}

function getId(value){
	var property='',key='',val='',index='';
	alert(value);
	if(suggestions.hasOwnProperty('categories'))
	{
		key='categories';
		property='name';
		index=key;
		val='id';
	}
	else if(suggestions.hasOwnProperty('cuisines'))
	{
		alert('in cuisines');
		key='cuisines';
		property='cuisine_name';
		index='cuisine';
		val='cuisine_id'
	}
	console.log(suggestions);
	for(i=0;i<suggestions[key].length;i++)
	{
		console.log(suggestions[key][i][index][property].toUpperCase());
		if(suggestions[key][i][index][property].toUpperCase()===value.toUpperCase())
			{
				return suggestions[key][i][index][val];
				
			}
	}
}
function FilteredSearch()
{
	var lat=12.975296;
	var lng=80.2198833;
	alert('in search');
	var value=document.getElementById('query').value;
	value=getId(value);
	if(constraint==='Category')
		url="https://developers.zomato.com/api/v2.1/search?lat="+lat+"&lon="+lng+"&category="+value+"&sort=rating";
	else if(constraint=='Cuisine')
		url="https://developers.zomato.com/api/v2.1/search?lat="+lat+"&lon="+lng+"&cuisines="+value+"&sort=rating";
	else
		url="https://developers.zomato.com/api/v2.1/search?lat="+lat+"&lon="+lng+"&q="+value+"&sort=rating";
	var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    obj=JSON.parse(this.responseText);
    console.log(obj);
    displayRestaurants();   
     }
  };
  xhttp.open("GET",url, true);
  xhttp.setRequestHeader("user-key","d31358aa4ab1239f3f0864a5858297c5");
  xhttp.send();
}

</script>
<body>
  
  <% if(typeof added!== 'undefined') {%>
  <div class="alert alert-success">
  <strong>Discussion was started successfully</strong> 
</div>
<% } %>
<button id='postSuggestion' type='button' onClick='postSuggestion();'>Post venue to discussion</button>
<button id='skip' type='button' onClick='flock.close();'>Skip</button>
Planning for an outing? Here you go.. A list of recommended movies and foodie spot near you
<div id='FoodContainer'>
	<div id='categories'></div>
	<div id='search'>
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                   <ul class="dropdown-menu" role="menu">
        <li><a href="#Cuisine">Cuisine</a></li>
        <li><a href="#Category">Category</a></li>
      <li class="divider"></li>
        <li><a href="#q">Restaurant Name</a></li>
        </ul>
                </div>
                        
                <input type="text" class="form-control" id='query' name="query" placeholder="Search ">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onClick='FilteredSearch();'><span class="glyphicon glyphicon-search"></span></button>
                </span>
                
            </div>
        </div>
	</div>
	<div id='suggestion'></div>
</div>
<div id='restaurants'>
	</div>
</div>

</body>