<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body { padding-top:0; }
        .item {
          display:table;
          margin:0 auto;
        }
        .carousel-caption{
          position:relative;
          left:0;
          right:0;
        }
        .carousel-inner{
          height:100%;
        }
   </style>
          <script>
          var city,obj;
//A function to get user's location using HTML5 geolocation API

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
       alert("Geolocation is not supported by this browser.");
    }
}
function showPosition(position) {
  alert('in showposition');
    var x=position.coords.latitude + ","+position.coords.longitude;
    var city;
    var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     city=JSON.parse(this.responseText).results[0].address_components[1].short_name;
     console.log(city);
     if(city==='Tiruchirappalli')
        city='trichy';
      
      getContents(city);
    }
  };
  xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?latlng="+x+"&key=AIzaSyA51eCYFSD_7bXVPpgh0fxPTuZNnl0IMDk", true);
  xhttp.send();
}

function ImgError(ele)
{
  ele.src='download.png';
  ele.onerror="";
  return true;
}
function fetchMovies()
{
  var url='download.png';
  alert('in fetchMovies');
  for(var i=0;i<obj.length;i++)
  {

    if(obj[i].status==='Now showing' && obj[i].language=='English')
      $('#nowShowing').append('<div class="item"><img src="'+obj[i].img+'" onerror="ImgError(this);" style="display:table;margin:0 auto"><div class="carousel-caption"><a href="'+obj[i].url+'">'+obj[i].title+"</a></div>");
  }
  $('.item:first').addClass('active');
 $('.item').wrapAll('<div class="carousel-inner" role="listbox">');
 $('.carousel-inner').wrapAll('<div class="carousel slide" data-ride="carousel" id="nowShowingCarousel">');
$('#nowShowingCarousel').append('<a class="left carousel-control" href="#nowShowingCarousel" role="button" data-slide="prev">'+
      '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'+
      '<span class="sr-only">Previous</span></a>'+
      '<a class="right carousel-control" href="#nowShowingCarousel" role="button" data-slide="next">'+
      '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>'+
      '<span class="sr-only">Next</span>'+
    '</a>');
}
//fetching movie details for city
function getContents(city)
{
  alert('in getContents');
  url= <%=siteAddress %>;
  alert(url);
  var xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange=function(){
  if(this.readyState==4 && this.status ==200){
    data=JSON.parse(this.responseText);
    var xhttp2=new XMLHttpRequest();
    xhttp2.onreadystatechange=function() {
      if(this.readyState==4 && this.status==200){
        obj=JSON.parse(this.responseText);
        console.log(obj);
        fetchMovies();
      }
    }

    xhttp2.open("post","https://451bae8d.ngrok.io/scrapeImage",true);
    xhttp2.setRequestHeader("Content-type", "application/json");
    xhttp2.send(JSON.stringify(data));

  }
  };
  xhttp.open("GET", "https://451bae8d.ngrok.io/scrape?city="+city, true);
  xhttp.send();
}
$(document).ready(function(){
  $('.carousel').carousel();
  getLocation();
})

</script>
</head>
<body>
  <div id='nowShowing'>
    
  <hr>
  </div>
  
</body>