<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type='text/javascript' src='https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.js'></script>
    <link type="text/css" href="https://mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <link type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://apps-static.flock.co/js-sdk/0.1.0/flock.js'></script>
 </head>
 <body>
 <form action=' https://d95df81a.ngrok.io/addComment' method='post'>
 	<% for(var i=0;i<userDiscussions.length;i++){ %>
 		<input type="radio" name="discussion_id" value=<%= userDiscussions[i].discussion_id %>><p><%=userDiscussions[i].discussion_name%></p><br>
 	<% } %>
    <input type='hidden' id='userId' name='userId' value=<%= userId %>>
    <input type='hidden' name='comments' value=<%= comments %> >
    <input type='hidden' name='username' value= <%= username %>>
    <button type='submit' >Post</button>
  </form>
  
</body>