<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; 
        }
        [id^='task-']{
          background-color: #000000;
        }
        [id^='task-'] li{
          list-style-type:none;
        }

   </style>
        
</head>
<body>

    <div class="container">
            <h1 style='text-align:center'>Your ToDo's</h1>
           <div id='tasks' style='background-color:silver'>
                <% rows=JSON.parse(rows); %>
               <% if(rows.length>0)
                for(var i=0; i<rows.length; i++) {%>
               <br>
     <div id='task-'+i style='width:300px'>
      <li style='float:left'><%= rows[i].task %></p>
      <li style='float:right'><%= moment(rows[i].dueOn).fromNow(); %> </p>
    </div>
    <div style="clear: both;"></div>
     <% } %>
            </div>
            <form action='https://3379f26c.ngrok.io/addTask' method="GET">
                <input name='task' id='newTask' type='text'/>
                <input type='date' name='date'/>
                <input type='hidden' name='userId' value= <%= userId %> >
                <button type='submit'>Submit</button>
            </form>
    </div>
    
</body>
</html>
<!--<a href='/delete?task=<%= rows[i].task %>&userId=<%= userId%>' ><%= rows[i].task %></a></td>
       <td><%= moment(rows[i].dueOn).format('D/M/YYYY');%></td>
       <td><%= moment(rows[i].dueOn).fromNow(); %></td>
    </tr>-->
 <div id='row <%=key%>'>
    <b><p style='float:left'>Event Type:</b> <%= rows[key][0].event_type %></p>
  <% if(rows[key][0].createdBy===userId) {%>
  <p style='float:right'>Created By You</p>
  <% } else{ %>
  <p style='float:right'>Created By <%=rows[key][0].createdBy_name %></p>
  <% } %>
  <b><p style='clear:both'>Location:</b> <%= rows[key][0].location %></p>
  <b><p>Participants:</b>
  <% for(var j=0;j<rows[key].length;j++){ %>
  <%= rows[key][j].participant_name %>
  <% } %></p><b><p style='float:left'>Scheduled </b><%= moment(rows[key][0].time).fromNow() %></p>
  <button type='button' id='rowbutton <%=key%>' style='float:right' class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-remove'></span></button><br>
 </div> <hr style='clear:both'>
  <% } } else{ %>
<h3 style='float:left;margin-top:0px'>Your don't have any upcoming events</h3><button id='newEvent' style='float:right' onClick='showForm();' class='btn-primary'><span class='glyphicon glyphicon-plus'></span>  &nbsp Click to add a new Event</button></div>
    <div style='clear:both'></div>

<% } %>
